<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
</head>
<body>
    <h1>Registrate en TalaTrivia</h1>

    <!-- Formulario para el registro -->
    <form action="{{ url_for('register.register_user') }}" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="email" name="email" placeholder="Email" required>

        <div>
            <p>Selecciona el rol:</p>
            <label>
                <input type="checkbox" name="roles" value="admin"> Admin
            </label>
            <label>
                <input type="checkbox" name="roles" value="user"> User
            </label>
        </div>

        <button type="submit">Crear</button>
    </form>

    <a href="{{ url_for('login.index') }}">
        <button type="button">Volver</button>
    </a>
</body>
</html>
